body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
header {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
header> h1 {
  margin: 0;
  margin-left: 20%;
  color: white;
}
.content {
  margin-top: 40px;
  padding-left: 20%;
  width: 60%
}
.names-list {
  border: 1px solid rgba(163, 163, 163, 0.55);
  background-color: white;
  padding: 5px;
  border-radius: 4px;
}
#saved-lists {
  border: 1px solid rgba(163, 163, 163, 0.55);
  border-radius: 2px;
  background-color: white;
  padding: 5px;
  margin-bottom: 10px;
}
#names {
  border: 1px solid rgba(163, 163, 163, 0.55);
  padding: 5px;
}
.name {
  padding: 5px;
}
.name-input {
  background: white;
  border: 0;
  font-size: 28px;
}
.saveButton {
  width: 90px;
  height: 35px;
  cursor: pointer;
  border-radius: 4px;
  background: #17af19;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  color: white;
  transition: background 0.1s;
}
.saveButton:hover {
  background: #288125;
}
.dialogue-bg {
  background: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  transition: opacity 0.5s;
  z-index: 999;
}
.save-dialogue {
  padding: 10px;
  background: white;
  border: 1px solid rgba(163, 163, 163, 0.55);
  border-radius: 2px;
  position: absolute;
  width: 600px;
  margin-left: -300px;
  top: 30%;
  left: 50%;
  z-index: 1000;
  transition: opacity 0.5s;
}