.input-stype() {
  width: 100%;
  background: white;
  border: 0;
  font-size: 28px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
header {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  h1 {
    color: white;
  }
}
.container {
  margin-top: 40px;
  .names-list {
    border: 1px solid rgba(163, 163, 163, 0.55);
    background: #fbfbfb;
    padding: 5px;
    border-radius: 4px;
    width: 100%;
    #names {
      border: 1px solid rgba(163, 163, 163, 0.55);
      padding: 5px;
      background: white;
      .name {
        padding: 5px;
      }
      .name-input {
        .input-stype();
      }
    }
  }
}
// Drop down
#saved-lists {
  border: 1px solid rgba(163, 163, 163, 0.55);
  border-radius: 2px;
  background-color: white;
  margin-bottom: 10px;
}
.dialogue-bg {
  display: none;
  background: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  .save-dialogue {
    padding: 10px;
    background: white;
    border: 1px solid rgba(163, 163, 163, 0.55);
    border-radius: 2px;
    position: absolute;
    width: 600px;
    margin-left: -300px;
    top: 30%;
    left: 50%;
    z-index: 1000;
    h4 {
      font-size: 30px;
      color: #666;
      margin: 15px 0 20px;
    }
    .bg-danger {
      padding: 10px;
    }
    input {
      .input-stype();
      margin-bottom: 10px;
    }
    button {
      margin-right: 10px;
    }
  }
}